mode: deployment

image:
  repository: otel/opentelemetry-collector-contrib
  tag: "0.98.0"

ports:
  metrics:
    enabled: false

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

  processors:
    batch: {}

  exporters:
    logging:
      loglevel: info

  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [batch]
        exporters: [logging]
